#new_captcha {
  margin-bottom: 20px;
  overflow: hidden;
  clear: left;
}

input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  overflow: visible;
}

input[type="submit"] {
  width: auto;
}

.button,
input[type="submit"] {
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom, #fff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
  background-repeat: repeat-x;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  height: auto;
  line-height: 20px;
  margin: 0 0 20px 0;
  padding: 4px 10px;
  display: inline-block;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #bbb;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  border-radius: 4px;
  -webkit-filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
}

.button.green {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

#sellcar-submit .button,
.button,
input[type="submit"],
input[type="submit"].button {
  display: inline-block;
  margin: 0;
  padding: 0 15px;
  background: #171717;
  color: #fff !important;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

#sellcar-submit input[type="submit"] {
  float: right;
}

#sellcar-submit input[type="submit"]:hover,
#sellcar-submit .button:hover,
.button:hover {
  background: #7d7d7d;
  color: #fff !important;
  border: 0;
}

span {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

.icon {
  font-family: ClickIcons;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.sidebar-widget h3 span {
  margin-right: 5px;
  font-size: 75%;
}

[class*=" icon-"]::before,
[class^="icon-"]:before {
  font-family: ClickIcons;
}

.fa.fa-search:before,
.far.fa-search:before,
.icon-search:before {
  content: "\ea57";
}

.sidebar-widget.search #sidebar-search-make {
  margin-bottom: 10px;
}

.sidebar-widget.search #sidebar-search-model {
  margin-bottom: 10px;
}

.sidebar-widget.search #sidebar-search-price {
  margin-bottom: 10px;
}

[class*=" icon-"]::before,
[class^="icon-"]::before {
  font-family: ClickIcons;
}

.far.fa-phone:before,
.icon-phone:before {
  content: "\ea3a";
}

ul {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

.fa-comment:before,
.icon-comments-2:before,
.icon-comments:before {
  content: "\ea2d";
}

.sidebar-widget.testimonials .quote {
  position: relative;
  padding: 0;
  background: #fff;
  border-radius: 10px;
}

.sidebar-widget.testimonials .quote::before {
  content: "";
  position: absolute;
  top: 100%;
  right: 20px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #fff;
}

cite {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

.sidebar-widget.testimonials cite {
  display: block;
  margin-top: 8px;
  margin-right: 55px;
  color: #171717;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-align: right;
}

.sidebar-widget.partners .sidebar-partners {
  padding: 20px;
  background: #fff;
  overflow: hidden;
}

select {
  font-family: sans-serif;
  color: #222;
}

select {
  font-size: 100%;
  vertical-align: middle;
  margin: 0;
}

select {
  display: inline;
  margin: 5px 0;
  font-family: Arial, sans-serif;
  color: #444;
}

select {
  font-family: Arial, sans-serif;
  float: left;
  display: inline-block;
  height: 20px;
  padding: 2% 1%;
  margin-top: 10px;
  margin-bottom: 9px;
  text-indent: 6px;
  font-size: 14px;
  width: 98%;
  line-height: 20px;
  color: #555;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

select {
  height: 30px;
  line-height: 30px;
}

select {
  text-indent: 0;
  padding: 3px;
}

select {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 36px;
  float: none;
  padding: 0 20px 0 5px;
  margin: 0;
  color: #555;
  background: #fff url("/images/select-icon.svg") no-repeat;
  background-size: 12px 12px;
  background-position: right 5px center;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: 0;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.sidebar select {
  width: 100%;
}

.sidebar select {
  width: 98%;
  max-width: 98%;
}

#sidebar-search-make select {
  width: 100% !important;
  max-width: 100% !important;
  box-sizing: border-box;
}

#sidebar-search-model select {
  width: 100% !important;
  max-width: 100% !important;
  box-sizing: border-box;
}

#sidebar-search-price select {
  width: 100% !important;
  max-width: 100% !important;
  box-sizing: border-box;
}

.sidebar input {
  width: 100%;
  max-width: 100%;
}

.button.black {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  background-image: linear-gradient(to bottom, #444, #222);
  background-image: -moz-linear-gradient(top, #444, #222);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.button,
.sidebar-widget input.button,
input[type="submit"],
input[type="submit"].button {
  display: inline-block;
  margin: 0;
  padding: 0 15px;
  background: #171717;
  color: #fff !important;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

li {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

li {
  color: #555;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

ul li {
  margin: 0;
  padding: 0;
}

.desktop-hidden {
  visibility: hidden;
  display: none;
}

.pad-15 {
  padding: 15px 15px 15px 15px;
}

.fa.fa-users:before,
.fas.fa-users:before,
.icon-users:before {
  content: "\ea45";
}

.center {
  text-align: center;
}

.sidebar-widget.contact #get-in-touch li span {
  color: #7d7d7d;
}

.fa-phone:before,
.icon-phone-2:before {
  content: "\ea05";
}

.sidebar-widget.contact #get-in-touch li a {
  color: #171717;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.sidebar-widget.contact #get-in-touch li a:hover {
  color: #7d7d7d;
}

.fa-envelope:before,
.icon-mail:before {
  content: "\ea07";
}

img {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

.responsive-img {
  max-width: 100%;
  max-height: 100%;
}

/* Grid System - Matching old website layout */
.container .row {
  margin: 0;
  display: block;
  width: 100%;
  clear: both;
}

.sixcol {
  margin-right: 2%;
  float: left;
  min-height: 1px;
}

.sixcol {
  width: 49%;
}

.sixcol.last {
  margin-right: 0;
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
  .sixcol {
    width: 100% !important;
    float: none !important;
    margin-right: 0 !important;
    margin-bottom: 0px;
  }

  .sixcol.last {
    margin-right: 0 !important;
  }

  #sellcar-submit input[type="submit"] {
    float: none !important;
    width: 100%;
    margin-top: 10px;
  }

  #new_captcha .sixcol {
    /* width: 48% !important; */
    float: left !important;
    margin-right: 2% !important;
  }

  #new_captcha .sixcol.last {
    margin-right: 0 !important;
  }
}
@media handheld, only screen and (max-width: 739px) {
  h2 {
    font-size: 22px !important;
  }
  h3 {
    font-size: 20px !important;
  }
}

/* Hide number input spinner buttons */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
