#sidebar-search-make select {
  width: 100% !important;
  max-width: 100% !important;
  box-sizing: border-box;
}

#sidebar-search-model select {
  width: 100% !important;
  max-width: 100% !important;
  box-sizing: border-box;
}

#sidebar-search-price select {
  width: 100% !important;
  max-width: 100% !important;
  box-sizing: border-box;
}

input {
  font-family: sans-serif;
  color: #222;
}

input {
  font-size: 100%;
  vertical-align: middle;
  margin: 0;
}

input {
  line-height: normal;
}

input {
  width: 100%;
  max-width: 100%;
  height: 36px;
  float: none;
  padding: 0 5px;
  margin: 0;
  color: #555;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: 0;
}

input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  overflow: visible;
}

/* input[type="submit"] {
  width: auto;
} */

.button,
input[type="submit"] {
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom, #fff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
  background-repeat: repeat-x;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  height: auto;
  line-height: 20px;
  margin: 0 0 20px 0;
  padding: 4px 10px;
  display: inline-block;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #bbb;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  border-radius: 4px;
  -webkit-filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
}

.sidebar input {
  width: 100% !important;
  max-width: 100%;
}

.button.black {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  background-image: linear-gradient(to bottom, #444, #222);
  background-image: -moz-linear-gradient(top, #444, #222);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.button,
.sidebar-widget input.button,
input[type="submit"],
input[type="submit"].button {
  display: inline-block;
  margin: 0;
  padding: 0 15px;
  background: #171717;
  color: #fff !important;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

.desktop-hidden {
  visibility: hidden;
  display: none;
}

.pad-15 {
  padding: 15px 15px 15px 15px;
}

.fa.fa-users:before,
.fas.fa-users:before,
.icon-users:before {
  content: "\ea45";
}

.center {
  text-align: center;
}

.sidebar-widget.contact #get-in-touch li span {
  color: #7d7d7d;
}

.fa-phone:before,
.icon-phone-2:before {
  content: "\ea05";
}

.sidebar-widget.contact #get-in-touch li a {
  color: #171717;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.sidebar-widget.contact #get-in-touch li a:hover {
  color: #7d7d7d;
}

.fa-envelope:before,
.icon-mail:before {
  content: "\ea07";
}

img {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

.responsive-img {
  max-width: 100%;
  max-height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background: #fff;
  color: #555;
  font-family: Montserrat, sans-serif;
}

html {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html {
  font-family: sans-serif;
  color: #222;
}

:root {
  --primary-color: #2e2c45;
  --accent-color: #ffb400;
  --text-color: #000;
  --heading-color: #000;
  --border-color: #ddd;
  --heading-weight: 700;
  --favourites-background-color-hover: var(--accent-color);
  --space-3: 12px;
  --space-4: 16px;
  --search-listing-border: var(--border-color);
  --search-listing-space: var(--space-4);
  --search-listing-space-mobile: var(--space-3);
  --search-listing-subheading-color: var(--text-color);
  --search-listing-text-color: var(--text-color);
  --search-listing-spec-border: var(--border-color);
  --search-listing-spec-color: var(--text-color);
  --search-listing-price-color: black;
  --search-listing-finance-color: var(--search-listing-price-color);
  --search-listing-finance-color-hover: var(--accent-color);
  --search-listing-was-price-bg: var(--accent-color);
  --search-listing-was-price-color: var(--text-color);
  --search-listing-button-bg: var(--accent-color);
  --search-listing-button-color: white;
  --search-listing-button-bg-hover: var(--primary-color);
  --search-listing-button-color-hover: white;
  --search-listing-reserve-button-color: var(--search-listing-button-color);
  --search-listing-details-button-color: var(--search-listing-button-color);
  --search-listing-engage-button-color: var(--accent-color);
  --search-listing-engage-button-border: var(--accent-color);
  --search-listing-engage-button-bg-hover: var(
    --search-listing-button-bg-hover
  );
  --search-listing-engage-button-color-hover: var(
    --search-listing-button-color-hover
  );
  --search-listing-engage-button-border-hover: var(
    --search-listing-button-bg-hover
  );
  --search-listing-favourites-bg-hover: var(--accent-color);
  --search-listing-favourites-bg-selected: var(--accent-color);
  --search-facets-border: var(--border-color);
  --search-list-controls-border: var(--border-color);
  --search-typeahead-input-color: var(--text-color);
  --search-typeahead-input-border: var(--border-color);
  --search-typeahead-input-focus: var(--accent-color);
  --search-top-offset: 80px;
  --search-top-offset-laptop: 80px;
  --search-top-offset-tablet: 60px;
  --search-top-offset-mobile: 50px;
  --search-bottom-offset: var(--search-top-offset);
  --search-bottom-offset-laptop: var(--search-top-offset-laptop);
  --search-bottom-offset-tablet: var(--search-top-offset-tablet);
  --search-bottom-offset-mobile: var(--search-top-offset-mobile);
  --search-group-border: var(--border-color);
  --search-group-heading-color: var(--heading-color);
  --search-group-indicator-bg: var(--accent-color);
  --search-group-arrow: var(--accent-color);
  --search-group-label-color: var(--text-color);
  --search-group-label-color-hover: var(--accent-color);
  --search-group-showmore: var(--accent-color);
  --search-group-showmore-hover: var(--text-color);
  --input-dropdown-border: var(--border-color);
  --input-dropdown-arrow-color: var(--accent-color);
  --input-dropdown-arrow-icon: "\ea47";
  --input-dropdown-label-color: var(--text-color);
  --input-dropdown-label-color-hover: var(--accent-color);
  --input-dropdown-heading-color: var(--heading-color);
  --input-dropdown-checkbox-bg-checked: var(--accent-color);
  --input-dropdown-checkbox-border-checked: var(--accent-color);
  --search-checkbox-border-checked: var(--accent-color);
  --search-checkbox-bg-checked: var(--accent-color);
  --toggle-button-color: var(--text-color);
  --toggle-button-bg-hover: var(--accent-color);
  --toggle-button-color-selected: var(--text-color);
  --search-select-border: var(--border-color);
  --search-select-text: var(--text-color);
  --search-toggle-color: var(--text-color);
  --search-toggle-color-hover: var(--text-color);
  --search-toggle-bg-selected: var(--accent-color);
  --search-buttons-color: var(--text-color);
  --search-buttons-border: var(--border-color);
  --search-buttons-bg-hover: var(--accent-color);
  --search-buttons-border-hover: var(--accent-color);
  --search-buttons-bg-selected: var(--accent-color);
  --search-buttons-border-selected: var(--accent-color);
  --search-facets-button-bg: var(--accent-color);
  --search-facets-button-bg-hover: var(--primary-color);
  --search-colour-facet-blue: #0074d9;
  --search-colour-facet-green: #2ecc40;
  --search-colour-facet-grey: #aaaaaa;
  --search-colour-facet-silver: #dddddd;
  --search-colour-facet-green-grey: linear-gradient(
    90deg,
    var(--search-colour-facet-green) 50%,
    var(--search-colour-facet-grey) 50%
  );
  --search-colour-facet-blue-silver: linear-gradient(
    90deg,
    var(--search-colour-facet-blue) 50%,
    var(--search-colour-facet-silver) 50%
  );
  --search-listing-carousel-button-color: white;
  --search-listing-carousel-button-bg-hover: var(--accent-color);
  --search-listing-carousel-button-color-hover: var(
    --search-listing-carousel-button-color
  );
  --search-toggle-radius: calc(var(--toggle-height) / 2);
  --search-toggle-control-size: calc(
    var(--toggle-height) - (var(--toggle-gutter) * 2)
  );
  --search-makesmodels-color: var(--text-color);
  --search-makesmodels-border: var(--border-color);
  --search-makesmodels-bg-hover: var(--accent-color);
  --search-makesmodels-border-hover: var(--accent-color);
  --search-listing-finance-button-color: var(--accent-color);
  --search-listing-finance-button-border: var(--accent-color);
  --search-listing-finance-button-bg-hover: var(
    --search-listing-button-bg-hover
  );
  --search-listing-finance-button-color-hover: var(
    --search-listing-button-color-hover
  );
  --search-listing-finance-button-border-hover: var(
    --search-listing-button-bg-hover
  );
  --tabs-content-bg: white;
  --tabs-button-color: var(--text-color);
  --tabs-button-icon-color: var(--accent-color);
  --tabs-button-bg-hover: var(--accent-color);
  --tabs-button-bg-selected: var(--tabs-content-bg);
  --tabs-button-color-selected: var(--text-color);
  --tabs-button-icon-color-selected: var(--accent-color);
  --accordion-border: var(--border-color);
  --accordion-arrow-color: var(--accent-color);
  --accordion-arrow-icon: var(--input-dropdown-arrow-icon);
  --accordion-label-color: var(--text-color);
  --accordion-label-color-hover: var(--accent-color);
  --accordion-heading-color: var(--heading-color);
  --hero-search-tabs-button-color: var(--text-color);
  --hero-search-tabs-button-bg-hover: var(--accent-color);
  --hero-search-tabs-button-bg-selected: var(--hero-search-tabs-content-bg);
  --hero-search-tabs-content-bg: white;
  --hero-search-tabs-content-heading-color: var(--heading-color);
  --hero-search-tabs-content-paragraph-color: var(--text-color);
  --hero-search-button-bg: var(--accent-color);
  --hero-search-button-bg-hover: var(--primary-color);
  --search-listing-attention-grabber-color: var(--accent-color);
  --search-listing-ksp-text-color: var(--text-color);
  --search-listing-ksp-icon-color: var(--accent-color);
  --search-listing-admin-fee-color: var(--text-color);
  --landing-text-color: var(--text-color);
  --landing-heading-color: var(--heading-color);
  --landing-top-border: var(--border-color);
  --landing-breadcrumb-color: var(--accent-color);
  --landing-breadcrumb-color-hover: var(--primary-color);
  --landing-breadcrumb-color-icon: var(--accent-color);
  --landing-breadcrumb-color-active: var(--text-color);
  --landing-brand-logo-border: var(--border-color);
  --landing-button-bg: var(--accent-color);
  --landing-button-bg-hover: var(--primary-color);
  --landing-listing-border: var(--border-color);
  --landing-listing-space: var(--space-4);
  --landing-listing-spec-border: var(--border-color);
  --landing-listing-spec-color: var(--text-color);
  --landing-listing-text-color: var(--text-color);
  --landing-bordered-button-color: var(--text-color);
  --landing-bordered-button-border: var(--text-color);
  --landing-bordered-button-bg-hover: var(--primary-color);
  --landing-bordered-button-border-hover: var(--primary-color);
  --landing-model-list-color: var(--text-color);
  --landing-model-list-border: var(--border-color);
  --landing-model-list-bg-hover: var(--accent-color);
  --landing-model-list-border-hover: var(--accent-color);
  --landing-list-link-color: var(--accent-color);
  --select-pagination-border: var(--border-color);
  --select-pagination-color: var(--text-color);
  --select-pagination-button-color: var(--accent-color);
  --select-pagination-button-bg-hover: var(--accent-color);
  --search-listing-status-bg: var(--text-color);
  --search-listing-location-color: var(--heading-color);
  --search-listing-price-bg: var(--primary-color);
  --landing-listing-status-bg: var(--text-color);
  --landing-listing-location-color: var(--heading-color);
  --landing-listing-favourites-bg-hover: var(--accent-color);
  --landing-listing-favourites-bg-selected: var(--accent-color);
  --landing-listing-button-bg: var(--accent-color);
  --landing-listing-button-bg-hover: var(--primary-color);
  --landing-listing-button-color-hover: white;
  --landing-listing-engage-button-color: var(--accent-color);
  --landing-listing-engage-button-border: var(--accent-color);
  --landing-listing-engage-button-bg-hover: var(
    --landing-listing-button-bg-hover
  );
  --landing-listing-engage-button-color-hover: var(
    --landing-listing-button-color-hover
  );
  --landing-listing-engage-button-border-hover: var(
    --landing-listing-button-bg-hover
  );
  --landing-finance-heading-color: var(--landing-heading-color);
  --landing-finance-figure-label-color: var(--text-color);
  --landing-listing-finance-color: var(--landing-listing-price-color);
  --landing-listing-finance-color-hover: var(--accent-color);
  --landing-listing-space-mobile: var(--space-3);
  --landing-listing-finance-button-color: var(--accent-color);
  --landing-listing-finance-button-border: var(--accent-color);
  --landing-listing-finance-button-bg-hover: var(
    --landing-listing-button-bg-hover
  );
  --landing-listing-finance-button-color-hover: var(
    --landing-listing-button-color-hover
  );
  --landing-listing-finance-button-border-hover: var(
    --landing-listing-button-bg-hover
  );
  --landing-listing-attention-grabber-color: var(--accent-color);
  --landing-listing-amin-fee-color: var(--text-color);
  --fin-calc-primary-color: black;
  --fin-calc-input-border-color: var(--fin-calc-primary-color);
  --fin-calc-input-color: var(--fin-calc-primary-color);
  --fin-calc-radio-button-color: var(--fin-calc-primary-color);
  --fin-calc-radio-button-border: var(--fin-calc-primary-color);
  --fin-calc-radio-button-bg-hover: var(--fin-calc-primary-color);
  --fin-calc-radio-button-border-hover: var(--fin-calc-primary-color);
  --fin-calc-radio-button-bg-checked: var(--fin-calc-primary-color);
  --fin-calc-radio-button-border-checked: var(--fin-calc-primary-color);
  --fin-calc-checkbox-border: var(--fin-calc-primary-color);
  --fin-calc-checkbox-color: var(--fin-calc-primary-color);
  --fin-calc-checkbox-border-hover: var(--fin-calc-primary-color);
  --fin-calc-checkbox-border-checked: var(--fin-calc-primary-color);
  --fin-calc-checkbox-bg-checked: var(--fin-calc-primary-color);
  --fin-calc-button-bg: var(--fin-calc-primary-color);
  --fin-calc-button-color-hover: var(--fin-calc-primary-color);
  --clickbuy-top-heading-color: var(--heading-color);
  --clickbuy-top-heading-weight: var(--heading-weight);
  --clickbuy-button-bg: var(--accent-color);
  --clickbuy-button-bg-hover: var(--primary-color);
  --clickbuy-link-text-color: var(--accent-color);
  --clickbuy-link-text-color-hover: var(--primary-color);
  --clickbuy-main-heading-color: var(--heading-color);
  --clickbuy-content-heading-color: var(--heading-color);
  --clickbuy-content-heading-weight: var(--heading-weight);
  --clickbuy-content-text-color: var(--text-color);
  --clickbuy-howitworks-heading-color: var(--heading-color);
  --clickbuy-howitworks-heading-weight: var(--heading-weight);
  --clickbuy-icon-primary-color: var(--primary-color);
  --clickbuy-icon-accent-color: var(--accent-color);
  --clickbuy-howitworks-step-heading-color: var(--heading-color);
  --clickbuy-howitworks-step-heading-weight: var(--heading-weight);
  --clickbuy-howitworks-step-text-color: var(--text-color);
  --clickbuy-footer-border: var(--border-color);
  --clickbuy-footer-heading-color: var(--heading-color);
  --clickbuy-promo-heading-color: var(--heading-color);
  --clickbuy-promo-heading-weight: var(--heading-weight);
  --clickbuy-promo-text-color: var(--text-color);
  --softcreditchecker-color: #4fba6f;
  --softcreditchecker-bullets-icon-color: var(--softcreditchecker-color);
  --softcreditchecker-input-color: #555555;
  --softcreditchecker-input-icon-color: var(--softcreditchecker-input-color);
  --electric-page--cta-bg-color: var(--accent-color);
  --electric-page--cta-bg-color-hover: var(--primary-color);
  --electric-vehicle-listing-border-color: var(--border-color);
  --electric-vehicle-listing-space: var(--space-4);
  --electric-vehcile-listing-space: var(--space-4);
  --electric-vehicle-listing-status-bg: var(--text-color);
  --electric-vehicle-listing-location-color: var(--heading-color);
  --electric-vehicle-listing-favourites-bg-hover: var(--accent-color);
  --electric-vehicle-listing-favourites-bg-selected: var(--accent-color);
  --electric-vehicle-listing-button-bg: var(--accent-color);
  --electric-vehicle-listing-button-bg-hover: var(--primary-color);
  --electric-vehicle-listing-button-color-hover: white;
  --electric-vehicle-listing-engage-button-color: var(--accent-color);
  --electric-vehicle-listing-engage-button-border: var(--accent-color);
  --electric-vehicle-listing-engage-button-bg-hover: var(
    --electric-vehicle-listing-button-bg-hover
  );
  --electric-vehicle-listing-engage-button-color-hover: var(
    --electric-vehicle-listing-button-color-hover
  );
  --electric-vehicle-listing-engage-button-border-hover: var(
    --electric-vehicle-listing-button-bg-hover
  );
  --electric-vehicle-icon-color: var(--accent-color);
  --pex-widget-primary-color: #151515;
  --pex-widget-heading-color: #252525;
  --pex-widget-text-color: #666;
  --pex-widget-border-color: #d4d4d4;
  --pex-widget-input-radius: 8px;
  --pex-widget-input-height: 56px;
  --pex-widget-numberplate-height: var(--pex-widget-input-height);
  --pex-widget-mileage-height: var(--pex-widget-input-height);
  --pex-widget-mileage-color: var(--pex-widget-text-color);
  --pex-widget-mileage-border: var(--pex-widget-border-color);
  --pex-widget-button-radius: var(--pex-widget-input-radius);
  --pex-widget-button-bg: var(--pex-widget-primary-color);
  --pex-widget-button-bg-hover: color-mix(
    in srgb,
    var(--pex-widget-button-bg),
    #fff 25%
  );
  --pex-widget-badge-border: var(--pex-widget-border-color);
  --pex-widget-badge-color: var(--pex-widget-heading-color);
  --pex-widget-solid-button-bg: var(--pex-widget-primary-color);
  --pex-widget-solid-button-border: var(--pex-widget-solid-button-bg);
  --pex-widget-solid-button-bg-hover: color-mix(
    in srgb,
    var(--pex-widget-solid-button-bg),
    #fff 25%
  );
  --pex-widget-solid-button-border-hover: color-mix(
    in srgb,
    var(--pex-widget-solid-button-bg),
    #fff 25%
  );
  --pex-widget-bordered-button-color: var(--pex-widget-heading-color);
  --pex-widget-bordered-button-border: var(--pex-widget-border-color);
  --pex-widget-bordered-button-bg-hover: var(--pex-widget-primary-color);
  --pex-widget-bordered-button-border-hover: var(
    --pex-widget-bordered-button-bg-hover
  );
  --fin-calc-pex-card-primary-color: #151515;
  --fin-calc-pex-card-heading-color: #252525;
  --fin-calc-pex-card-border: var(--fin-calc-pex-card-primary-color);
  --fin-calc-pex-card-badge-color: var(--fin-calc-pex-card-heading-color);
  --fin-calc-pex-card-close-button-color: var(
    --fin-calc-pex-card-primary-color
  );
  --fin-calc-pex-card-close-button-color-hover: color-mix(
    in srgb,
    var(--fin-calc-pex-card-close-button-color),
    #fff 25%
  );
  --fin-calc-pex-card-close-button-border-hover: color-mix(
    in srgb,
    var(--fin-calc-pex-card-primary-color),
    #fff 90%
  );
  --fin-calc-pex-card-add-button-color: var(--fin-calc-pex-card-primary-color);
  --fin-calc-pex-card-add-button-border: color-mix(
    in srgb,
    var(--fin-calc-pex-card-primary-color),
    transparent 70%
  );
  --fin-calc-pex-card-add-button-bg-hover: color-mix(
    in srgb,
    var(--pex-widget-button-bg),
    #fff 95%
  );
  --fin-calc-pex-card-add-button-color-hover: var(
    --fin-calc-pex-card-primary-color
  );
  --fin-calc-pex-card-add-button-border-hover: var(
    --fin-calc-pex-card-primary-color
  );
  --pex-form-widget-primary-color: #151515;
  --pex-form-widget-heading-color: #252525;
  --pex-form-widget-border: #d4d4d4;
  --pex-form-widget-badge-border: var(--pex-form-widget-border);
  --pex-form-widget-badge-color: var(--pex-form-widget-heading-color);
  --pex-form-widget-solid-button-bg: var(--pex-form-widget-primary-color);
  --pex-form-widget-solid-button-border: var(--pex-form-widget-solid-button-bg);
  --pex-form-widget-solid-button-bg-hover: color-mix(
    in srgb,
    var(--pex-form-widget-solid-button-bg),
    #fff 25%
  );
  --pex-form-widget-solid-button-border-hover: color-mix(
    in srgb,
    var(--pex-form-widget-solid-button-bg),
    #fff 25%
  );
  --pex-form-widget-bordered-button-color: var(--pex-form-widget-heading-color);
  --pex-form-widget-bordered-button-border: var(--pex-form-widget-border);
  --pex-form-widget-bordered-button-bg-hover: var(
    --pex-form-widget-primary-color
  );
  --pex-form-widget-bordered-button-border-hover: var(
    --pex-form-widget-bordered-button-bg-hover
  );
}

#main-wrap {
  padding-bottom: 40px;
  margin-top: 118px;
}

.page-hdr {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 240px;
  margin: 0 0 40px 0;
}

.page-hdr.visible {
  background: #707070 url("../assets/images/page-hdr__bg.1749717714.jpg") center
    center no-repeat !important;
  background-size: cover !important;
}

.page-hdr:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

h1 {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4em;
  color: #333;
  margin: 0 0 15px 0;
}

h1 {
  font-size: 22px;
}

h1 {
  color: #171717;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 32px;
}

.page-hdr h1 {
  position: relative;
  margin: 0;
  font-size: 30px;
  color: #fff;
}

.wrapper {
  display: block;
  padding: 0 10px;
  width: auto;
}

.wrapper {
  padding: 0 20px;
}

.container {
  display: block;
  margin: 0 auto;
  position: relative;
  max-width: 1120px;
  clear: both;
  overflow: hidden;
}

.container {
  max-width: 1600px;
}

.container .row {
  margin: 0;
  display: block;
  width: 100%;
  clear: both;
}

.twelvecol {
  width: 100%;
  float: left;
}

.fourcol {
  margin-right: 2%;
  float: left;
  min-height: 1px;
}

.fourcol {
  width: 32%;
}

.fourcol.last {
  margin-right: 0;
}

.eightcol {
  margin-right: 2%;
  float: left;
  min-height: 1px;
}

.eightcol {
  width: 66%;
}

.eightcol.last {
  margin-right: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.pad-20 {
  padding: 20px 20px 20px 20px;
}

a {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

a {
  color: #00e;
}

a {
  color: #7d7d7d;
  text-decoration: none;
}

a:hover {
  color: #06e;
}

a:active,
a:hover {
  outline: 0;
}

a:hover {
  color: #555;
  text-decoration: none;
  outline: 0;
}

form {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

form {
  margin: 0;
}

h3 {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4em;
  color: #333;
  margin: 0 0 15px 0;
}

h3 {
  font-size: 18px;
}

h3 {
  color: #171717;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 24px;
}

.block h3 {
  clear: both;
}

.contact-widget h3 {
  color: #171717;
  font-family: Montserrat, sans-serif;
}

.flexible-frame {
  position: relative;
  clear: both;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

p {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

p {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2em;
  color: #333;
  margin: 0 0 15px 0;
}

p {
  color: #555;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

address {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

ul {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

input {
  font-family: sans-serif;
  color: #222;
}

input {
  font-size: 100%;
  vertical-align: middle;
  margin: 0;
}

input {
  line-height: normal;
}

input {
  width: 100%;
  max-width: 100%;
  height: 36px;
  float: none;
  padding: 0 5px;
  margin: 0;
  color: #555;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: 0;
}

.contact-widget form input {
  margin-bottom: 10px;
}

input[type="text"] {
  font-family: Arial, sans-serif;
  float: left;
  display: inline-block;
  height: 20px;
  padding: 2% 1%;
  margin-top: 10px;
  margin-bottom: 9px;
  text-indent: 6px;
  font-size: 14px;
  width: 98%;
  line-height: 20px;
  color: #555;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

input,
input[type="text"] {
  width: 100%;
  max-width: 100%;
  height: 36px;
  float: none;
  padding: 0 5px;
  margin: 0;
  color: #555;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: 0;
}

fieldset {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

fieldset {
  display: block;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

fieldset {
  padding: 0;
  border: none;
}

span {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

.icon {
  font-family: ClickIcons;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.contact-widget h3 span {
  font-size: 75%;
}

[class*=" icon-"]::before,
[class^="icon-"]:before {
  font-family: ClickIcons;
}

.fa-map-marker-alt:before,
.fa-map-marker:before,
.icon-location:before {
  content: "\ea06";
}

iframe {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

.flexible-frame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

[class*=" icon-"]::before,
[class^="icon-"]::before {
  font-family: ClickIcons;
}

strong {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 700;
}

.far.fa-phone:before,
.icon-phone:before {
  content: "\ea3a";
}

.fa.fa-calendar:before,
.icon-calendar:before {
  content: "\ea3b";
}

li {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

li {
  color: #555;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

ul li {
  margin: 0;
  padding: 0;
}

ul.list-bullets {
  font-size: 14px !important;
  list-style-type: disc !important;
  list-style-position: outside;
  padding: 0;
  margin: 0 0 15px 30px;
}

ul.list-bullets li {
  padding: 0;
  margin: 0 0 5px 0 !important;
}

.open-times li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  line-height: 32px;
  border-bottom: 1px solid #f5f5f5;
}

.bank-holiday-not-set {
  display: none !important;
}

#recaptcha_widget {
  margin-bottom: 20px;
  overflow: hidden;
  clear: left;
}

.desktop-hidden {
  visibility: hidden;
  display: none;
}

.fa-envelope:before,
.icon-mail:before {
  content: "\ea07";
}

.contact-widget #get-in-touch li span {
  color: #7d7d7d;
}

.fa-phone:before,
.icon-phone-2:before {
  content: "\ea05";
}

a:visited {
  color: #551a8b;
}

a,
a:visited {
  color: #7d7d7d;
  text-decoration: none;
}

.contact-widget #get-in-touch li a {
  color: #171717;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

a:hover,
a:visited:hover {
  color: #555;
  text-decoration: none;
  outline: 0;
}

.contact-widget #get-in-touch li a:hover {
  color: #7d7d7d;
}

input[type="tel"] {
  font-family: Arial, sans-serif;
  float: left;
  display: inline-block;
  height: 20px;
  padding: 2% 1%;
  margin-top: 10px;
  margin-bottom: 9px;
  text-indent: 6px;
  font-size: 14px;
  width: 98%;
  line-height: 20px;
  color: #555;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

input,
input[type="tel"] {
  width: 100%;
  max-width: 100%;
  height: 36px;
  float: none;
  padding: 0 5px;
  margin: 0;
  color: #555;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: 0;
}

input[type="email"] {
  font-family: Arial, sans-serif;
  float: left;
  display: inline-block;
  height: 20px;
  padding: 2% 1%;
  margin-top: 10px;
  margin-bottom: 9px;
  text-indent: 6px;
  font-size: 14px;
  width: 98%;
  line-height: 20px;
  color: #555;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

input,
input[type="email"] {
  width: 100%;
  max-width: 100%;
  height: 36px;
  float: none;
  padding: 0 5px;
  margin: 0;
  color: #555;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: 0;
}

textarea {
  font-family: sans-serif;
  color: #222;
}

textarea {
  font-size: 100%;
  vertical-align: middle;
  margin: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

textarea {
  font-family: Arial, sans-serif;
  float: left;
  display: inline-block;
  height: 20px;
  padding: 2% 1%;
  margin-top: 10px;
  margin-bottom: 9px;
  text-indent: 6px;
  font-size: 14px;
  width: 98%;
  line-height: 20px;
  color: #555;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea {
  height: auto;
  padding: 2% 1%;
  width: 98%;
}

textarea {
  width: 100%;
  max-width: 100%;
  margin: 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.contact-widget form textarea {
  margin-bottom: 10px;
}

fieldset input[type="text"]:nth-child(n + 2) {
  margin-left: 0;
}

input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  overflow: visible;
}

/* input[type="submit"] {
  width: auto;
} */

input[type="submit"] {
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom, #fff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
  background-repeat: repeat-x;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  height: auto;
  line-height: 20px;
  margin: 0 0 20px 0;
  padding: 4px 10px;
  display: inline-block;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #bbb;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  border-radius: 4px;
  -webkit-filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
}

input[type="submit"] {
  display: inline-block;
  margin: 0;
  padding: 0 15px;
  background: #171717;
  color: #fff !important;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

label {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

label {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 15px 0;
  display: inline-block;
}

/* These were inline style tags. Uses id+class to override almost everything */
#style-ihfN2.style-ihfN2 {
  border: 0;
}
/* These were inline style tags. Uses id+class to override almost everything */
#style-bgVx7.style-bgVx7 {
  border: 0;
}
