.row-block {
  position: relative;
  display: block;
  width: 100%;
  float: left;
  margin: 0;
  padding: 50px 0;
  clear: both;
}

.wrapper {
  display: block;
  padding: 0 10px;
  width: auto;
}

.wrapper {
  padding: 0 20px;
}

.overflow-hidden {
  overflow: hidden;
}

.container .row {
  margin: 0;
  display: block;
  width: 100%;
  clear: both;
}

.container {
  display: block;
  margin: 0 auto;
  position: relative;
  max-width: 1120px;
  clear: both;
  overflow: hidden;
}

.container {
  max-width: 1600px;
}

.html8 {
  padding: 30px 0 !important;
  text-align: center;
}

.html8 {
  background: #f5f5f5;
}

.container {
  margin: 0 auto;
  overflow: visible;
  position: relative;
}

p {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

p {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2em;
  color: #333;
  margin: 0 0 15px 0;
}

p {
  color: #555;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.html8 .rebuy-promo__text p {
  font-weight: 300 !important;
}

strong {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 700;
}

a {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

a {
  color: #00e;
}

a {
  color: #7d7d7d;
  text-decoration: none;
}

a:hover {
  color: #06e;
}

a:active,
a:hover {
  outline: 0;
}

a:hover {
  color: #555;
  text-decoration: none;
  outline: 0;
}

.rebuy-promo__head h3 {
  font-weight: 300;
  font-size: 24px;
}
