/* VehicleDetail Sidebar Styles */

.detail-sidebar {
  position: relative;
  display: block;
  min-height: 100%;
  padding: 40px;
  background: #171717;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, #3a3a3a),
    to(#000)
  );
  background: -o-linear-gradient(top, #3a3a3a 50%, #000);
  background: linear-gradient(to bottom, #3a3a3a 50%, #000);
  color: #fff;
  -webkit-box-shadow: 0 2px 40px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.5);
}

.detail-sidebar:before {
  content: "";
  position: absolute;
  top: calc(100% - 60px);
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: skewY(3deg);
  -ms-transform: skewY(3deg);
  transform: skewY(3deg);
  background: rgba(255, 255, 255, 0.2);
}

.detail-sidebar:after {
  content: "";
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 160px;
  width: 160px;
  background: url(/images/logo-icon.1749717714.png) center center no-repeat;
  background-size: 160px 160px;
  opacity: 0.4;
  z-index: 0;
}

.detail-sidebar__favourites {
  position: relative;
  float: right;
  z-index: 1;
}

.detail-sidebar__prices {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  z-index: 1;
}

.detail-sidebar__spec-pills {
  position: relative;
  margin-bottom: 30px;
  z-index: 1;
}

.detail-sidebar__video {
  position: relative;
  display: none;
  padding: 20px 0;
  margin-bottom: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  z-index: 1;
}

.detail-sidebar__cta-list {
  position: relative;
  z-index: 1;
}

.detail-sidebar__price {
  position: relative;
  padding: 10px 20px;
  color: #bbb;
  font-size: 10px;
  font-weight: 900;
  text-transform: uppercase;
}

.detail-sidebar__price--total {
  padding-left: 0 !important;
}

.detail-sidebar__price--finance {
  padding-right: 0 !important;
  margin-left: 1px;
}

.detail-sidebar__price--finance:before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 1px;
  background: #7d7d7d;
}

.detail-sidebar__price .figure {
  display: block;
  color: #fff;
  line-height: 1;
}

.detail-sidebar__price--total .figure {
  font-size: 40px;
}

.detail-sidebar__price--finance .figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-size: 20px;
}

.detail-sidebar__price--finance .figure span {
  margin-left: 2px;
  font-size: 10px;
  line-height: 14px;
}

.spec-pills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: -10px;
}

.spec-pills__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: block;
  padding: 0 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #f5f5f5;
  font-size: 14px;
  line-height: 28px;
  border-radius: 99px;
  border: 1px solid #8e8e8e;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.video-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.video-cta__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.video-cta__text svg {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 36px;
  flex: 0 0 36px;
  width: 36px;
  margin-right: 15px;
}

.video-cta__text em {
  color: #fff;
  font-size: 18px;
}

.video-cta__icon i {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 26px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.detail-cta-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-bottom: -20px;
}

.detail-cta-list li {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 calc(100% / 2 - 20px);
  flex: 1 1 calc(100% / 2 - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
}

/* .detail-cta-list li.detail-main-cta {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 20px);
  flex: 0 0 calc(100% - 20px);
  width: calc(100% - 20px);
} */

.detail-cta-list li a {
  width: 100%;
  padding: 0 5px;
  white-space: nowrap;
}

.detail-contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-right: -20px;
  margin-bottom: -20px;
}

.detail-contact-list li {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
}

.detail-contact-list li a {
  color: #fff;
}

.detail-contact-list li a:hover {
  color: #f5f5f5;
}

.detail-contact-list li a:hover,
.detail-contact-list li a:visited:hover {
  color: #f5f5f5;
}

.detail-sidebar .btn--ghost {
  display: inline-block;
  width: 100%;
  color: #d9d9d9;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 99px;
  padding: 0 5px;
}

.detail-sidebar .btn--ghost:hover {
  background: #d9d9d9;
  color: #000;
}

.detail-sidebar .btn--large {
  color: #000 !important;
  font-size: 14px;
  line-height: 36px;
  border-radius: 99px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#d9d9d9),
    to(#8d8d8d)
  ) !important;
  background: -o-linear-gradient(left, #d9d9d9, #8d8d8d) !important;
  background: linear-gradient(to right, #d9d9d9, #8d8d8d) !important;
}

.detail-sidebar .btn--large:hover {
  background: #d9d9d9 !important;
  color: #000 !important;
}

/* Responsive Design */
@media (max-width: 768px) {
  .detail-sidebar {
    padding: 20px;
  }

  .detail-sidebar__prices {
    /* flex-direction: column; */
    align-items: center;
    /* gap: 10px; */
  }

  .detail-sidebar__price--finance {
    margin-left: 0;
    margin-top: 0px;
  }

  .detail-sidebar__price--finance .figure {
    font-size: 16px;
  }

  .spec-pills__item {
    font-size: 12px;
    line-height: 24px;
    padding: 0 10px;
  }

  .detail-cta-list li {
    flex: 1 1 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .detail-cta-list li:last-child {
    margin-bottom: 0;
  }

  .detail-contact-list {
    flex-direction: column;
  }

  .detail-contact-list li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* Mobile-specific adjustments */
@media handheld, only screen and (max-width: 739px) {
  .detail-sidebar {
    /* margin: 10px; */
    -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  }
}

/* Additional responsive adjustments */
@media handheld, only screen and (max-width: 1279px) {
  .detail-sidebar__prices {
    margin-bottom: 20px;
  }

  .detail-sidebar__spec-pills {
    margin-bottom: 20px;
  }

  .spec-pills__item {
    padding: 0 8px;
    font-size: 10px;
    line-height: 20px;
  }

  .detail-cta-list li {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(100% / 2 - 10px);
    flex: 1 1 calc(100% / 2 - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .detail-contact-list li {
    font-size: 14px;
    line-height: 24px;
  }
  .detail-sidebar__price--total .figure {
    font-size: 32px;
  }
}

@media handheld, only screen and (max-width: 979px) {
  .detail-sidebar__price {
    padding: 10px;
    font-size: 8px;
  }
  .detail-cta-list {
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .detail-contact-list {
    margin-right: 0px;
    margin-bottom: 0px;
  }

  .spec-pills {
    margin-right: -5px;
    margin-bottom: -5px;
  }

  .spec-pills__item {
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

@media handheld, only screen and (max-width: 739px) {
  .detail-sidebar__price--total .figure {
    font-size: 20px;
  }

  .detail-sidebar__price--finance .figure {
    font-size: 14px;
  }
}
