.footer__main {
  background: #212121;
}

.footer__main {
  background: #212121;
  padding: 40px 0;
  overflow: auto;
  zoom: 1;
  clear: both;
}

.footer__bottom {
  background: #212121;
  padding: 40px 0 40px 0;
  margin: -60px 0 40px 0;
  overflow: auto;
  zoom: 1;
  clear: both;
}

.footer__bottom {
  padding: 40px 0;
}

.footer__bottom--no-margin {
  margin: 0 0 0 0 !important;
}

.wrapper {
  display: block;
  padding: 0 10px;
  width: auto;
}

.wrapper {
  padding: 0 20px;
}

.footer__main .wrapper {
  padding: 0;
}

.footer__bottom .wrapper {
  padding: 0;
}

.container {
  display: block;
  margin: 0 auto;
  position: relative;
  max-width: 1120px;
  clear: both;
  overflow: hidden;
}

.container {
  max-width: 1600px;
}

.footer__main .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__bottom-bar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0 0 0;
  margin: 0 20px;
  clear: both;
}

.footer__list-links {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
  float: left;
}

.footer__list-links li:first-child {
  margin: 0;
  padding: 0;
  border: none;
}

.footer__list-links li {
  display: inline-block;
  margin: 0 0 0 7px;
  padding: 0 0 0 7px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.footer__list-links a,
.footer__list-links a:visited {
  color: #999;
  text-decoration: none;
}

a,
a:visited {
  color: #7d7d7d;
  text-decoration: none;
}

.footer__widget {
  margin: 0 20px 20px 20px;
  -webkit-flex: 1 0 calc(100% / 3 - 40px);
  -ms-flex: 1 0 calc(100% / 3 - 40px);
  flex: 1 0 calc(100% / 3 - 40px);
  float: left;
  width: calc(100% / 3 - 40px);
}

.footer__widget--contacts {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.footer__widget--opening-hours {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

.footer__widget--quick-links {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

.footer__widget--legal {
  -webkit-order: 10;
  -ms-flex-order: 10;
  order: 10;
  width: calc(100% - 40px);
}

ul {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

.footer__numbers {
  font-size: 14px;
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
}

.footer__social {
  clear: both;
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
}

.footer__title {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  clear: both;
}

.footer__open-times {
  padding: 0;
  list-style: none;
}

.footer__services {
  margin: -7px 0 0 0;
  padding: 0;
  list-style: none;
}

.footer__legal-list {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
}

address {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

.footer__widget--contacts address {
  color: #999;
  font-size: 13px;
  margin: 0 0 20px 0;
  float: left;
  width: 50%;
}

.footer__numbers a {
  color: #999;
  text-decoration: none;
}

a:hover {
  color: #06e;
}

.footer__numbers a:hover {
  color: #fff;
}

li {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

li {
  color: #555;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

ul li {
  margin: 0;
  padding: 0;
}

.footer__numbers li {
  margin: 0 0 7px 0;
  color: #999;
}

.footer__social li {
  display: inline-block;
  margin: 0 4px 4px 0;
}

.footer__open-times li {
  color: #999;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2px 0;
  clear: both;
}

.bank-holiday-not-set {
  display: none !important;
}

.footer__services li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 7px 0 7px 15px;
  box-sizing: border-box;
  position: relative;
}

.footer__services li::after {
  position: absolute;
  font-family: ClickIcons;
  line-height: 1;
  font-size: 10px;
  top: 11px;
  left: 0;
  text-align: center;
  color: #fff;
  content: "\ea0c";
}

.footer__legal-list li {
  display: inline-block;
  color: #999;
  margin: 0 7px 0 0;
  padding: 0 7px 0 0;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__legal-list li:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

.footer__fca-para #fca-disclaimer,
.footer__fca-para #fca-disclaimer * {
  font-size: 12px;
  color: #999 !important;
}

span {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

.footer__widget--contacts address span {
  display: block;
}

.footer__numbers a:hover,
.footer__numbers a:visited:hover {
  color: #fff;
}

.footer__social a {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  width: 32px;
  height: 32px;
  line-height: 32px;
  display: block;
  text-align: center;
  font-size: 16px;
  transition: all 0.3s linear;
  border-radius: 99px;
}

.footer__social a:hover {
  background: #fff;
  color: #252525;
}

.footer__social a:hover,
.footer__social a:visited:hover {
  background: #fff;
  color: #252525;
}

.footer__open-times li .open-day {
  display: block;
  float: left;
}

.footer__open-times li .open-times {
  display: block;
  float: right;
}

a:visited {
  color: #551a8b;
}

a,
a:visited {
  color: #7d7d7d;
  text-decoration: none;
}

.footer__services a,
.footer__services a:visited {
  color: #999;
  text-decoration: none;
}

a:hover,
a:visited:hover {
  color: #555;
  text-decoration: none;
  outline: 0;
}

.footer__services a:hover,
.footer__services a:visited:hover {
  color: #fff;
}

.footer__services a,
.footer__services a:visited {
  color: #999;
  text-decoration: none;
}

i {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

.fa {
  font-family: ClickIcons;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.footer__numbers i {
  color: #fff;
  margin: 0 5px 0 0;
  width: 20px;
  font-size: 18px;
  text-align: center;
}

.footer__powered-by .footer__click-logo {
  height: 44px;
  border: none;
}

.fa-phone:before,
.icon-phone-2:before {
  content: "\ea05";
}

.fa-envelope-o:before,
.far.fa-envelope:before {
  content: "\ea08";
}

.fa-facebook:before,
.icon-facebook:before {
  content: "\ea01";
}

.ci {
  font-family: ClickIcons;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  display: inline-block;
  line-height: 1;
}

.ci-x-twitter:before {
  content: "\eb49";
}

.fa-instagram:before {
  content: "\ea11";
}

.icon {
  font-family: ClickIcons;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

[class*=" icon-"]::before,
[class^="icon-"]:before {
  font-family: ClickIcons;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .footer__widget {
    flex: 1 0 calc(50% - 40px);
    width: calc(50% - 40px);
  }

  .footer__widget--legal {
    width: calc(100% - 40px);
  }

  .footer__bottom-bar {
    flex-direction: column;
    align-items: center;
  }

  .footer__list-links {
    text-align: center;
    margin-bottom: 20px;
  }

  .footer__powered-by {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .footer__widget {
    flex: 1 0 calc(100% - 40px);
    width: calc(100% - 40px);
  }

  .footer__widget--contacts address {
    width: 100%;
    float: none;
  }
}
