.page-hdr {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 240px;
  margin: 0 0 40px 0;
}

.page-hdr.visible {
  background: #707070 url(/images/page-hdr__bg.1749717714.jpg) center center
    no-repeat !important;
  background-size: cover !important;
}

.page-hdr:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

h1 {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4em;
  color: #333;
  margin: 0 0 15px 0;
}

h1 {
  font-size: 22px;
}

h1 {
  color: #171717;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 32px;
}

.page-hdr h1 {
  position: relative;
  margin: 0;
  font-size: 30px;
  color: #fff;
}

.wrapper {
  display: block;
  padding: 0 10px;
  width: auto;
}

.wrapper {
  padding: 0 20px;
}

.container {
  display: block;
  margin: 0 auto;
  position: relative;
  max-width: 1120px;
  clear: both;
  overflow: hidden;
}

.container {
  max-width: 1600px;
}

.container .row {
  margin: 0;
  display: block;
  width: 100%;
  clear: both;
}

h2 {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4em;
  color: #333;
  margin: 0 0 15px 0;
}

h2 {
  font-size: 20px;
}

h2 {
  color: #171717;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 18px;
}

p {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

p {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2em;
  color: #333;
  margin: 0 0 15px 0;
}

p {
  color: #555;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

img {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

.responsive-img {
  max-width: 100%;
  max-height: 100%;
}
