/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap");

/* Import global styles */
@import "./styles/globals.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
